body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    height: 25px;
    padding: 10px;
    margin: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.message-informational{
    color: blue;
    background-color: lightblue;
}
.message-success{
    color: green;
    background-color: lightgreen;
}
.message-warning{
    color: #fada5e;
    background-color: #fdfd96;
}
.message-error{
    color: maroon;
    background-color: palevioletred;
}
.container{
    padding: 30px;
    margin: 10px auto;
    border-radius: 5px;
}
