body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.informational{
    color: blue;
    background-color: lightblue;
    height: 25px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.success{
    color: green;
    background-color: lightgreen;
    height: 25px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.warning{
    color: #fada5e;
    background-color: #fdfd96;
    height: 25px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.error{
    color: maroon;
    background-color: palevioletred;
    height: 25px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.container{
    padding: 30px;
    margin: 10px auto;
    border-radius: 5px;
}
