body {
    background-color: lightblue;
    text-align: center;
}

.sandwichbread {
    background-color: white;
    height: 25px;
    padding: 10px;
    border-radius: 25%;
}

.jelly {
    background-color: rebeccapurple;
    padding: 10px;
    border-radius: 10%;
}
.peanutbutter {
    background-color: #8b4513;
    padding: 10px;
    border-radius: 10%;
}

.container{
    border: 2px solid #fefe33;
    width: fit-content;
    padding: 10px;
    margin: 10px auto;
    border-radius: 30%;
    background-color: darkslategrey;
}
