/* For mobile phones: */
@media only screen and (max-width: 600px) {


    .navbar{
        display: flex;
        background-color: #848487;
    }

    .nav-item {
        padding-top: 18px;
        padding-bottom: 0;
    }
    .mobile-hide{
        display:none;
    }


}


/* For desktop: */
@media only screen and (min-width: 600px) {

    .jumbotron {
        background-repeat: no-repeat;
    }


    .container {
        max-height: fit-content;
        margin: 0;
        padding: 0;
    }
    .lead {
        align-items: stretch;
        display: flex;
        background: white;
        opacity: 0.75;
        justify-content: center;
        width: available;

    }
    .border{
        border: solid gray;
    }

}

.i {
    margin-right: 10px;
}